<div>
  <h1>Home</h1>
  <p>Page to test & learn Frontend Javascript technologies.</p>
  <p>I've taken examples from multiple origins, but main of them are:</p>
  <ul>
    <li><a href="https://github.com/AngularClass/angular-starter">Angular4 Webpack Starter</a></li>
    <li><a href="https://github.com/vladotesanovic/angular2-express-starter">Angular2 Express Starter</a></li>
    <li><a href="https://www.pluralsight.com/guides/front-end-javascript/ui-state-management-with-redux-in-angular-4#giantbomb-api">UI state management with Redux in Angular 4</a></li>
  </ul>
</div>
