<nav class="left-sidebar sidebar bg-faded" [ngClass]="{'open': this.sidebarState}">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Index
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]=" ['./home'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Home
      </a>
    </li>
  </ul>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./tweets'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Tweet Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./dvwd3-01-simple-histogram'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Simple Histogram
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./dvwd3-03-drwho-villains'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Table of the Dr. Who Villains
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./dvwd3-04-svg'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Basic of SVG
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./dvwd3-05-path'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Basic of Paths
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./dvwd3-06-axes'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Basic of Axes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./dvwd3-07-css'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Basic of SVG CSS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./dvwd3-08-color'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Basic of D3 Color
      </a>
    </li>
  </ul>
</nav>
