<nav class="left-sidebar sidebar bg-faded" [ngClass]="{'open': this.sidebarState}">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Index
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]=" ['./home'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Home
      </a>
    </li>
  </ul>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Index
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]=" ['./home'] "
         routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Home
      </a>
    </li>
  </ul>
</nav>
